  .slider-wrapper, #nice-slider, .slider-content,.top-wrap {
    height: 500px; max-height: 500px;
  }
.header-wrapper { padding-top: 200px; }
.slider-caption { }
#btn-es-go { position: fixed; }    .top-phone {display: none !important;}